.DS_Store
docs/build
/lightning_configure.pro
lightning.sav*
examples/map_M81/MCMC/lightning_output
examples/map_M81/MPFIT/lightning_output
examples/comparison_NGC_628/bagpipes/pipes
examples/comparison_NGC_628/prospector/NGC0628_emcee_mcmc.h5
